@model Domain.Entities.Community;

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">@(Model.id == 0 ? "Create New Community" : "Edit Community")</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="UpdatedAt" />
            <input type="hidden" asp-for="UpdatedBy" />
            <input type="hidden" asp-for="IsActive" />
            <div class="form-group">
                <label style="font-size: medium;" class="control-label mandatory">Name</label>
                <input style="margin-top:5px;" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label style="margin-top: 10px; font-size: medium;" class="control-label mandatory">URL</label>
                <input style="margin-top:5px;" asp-for="Url" class="form-control" />
                <span asp-validation-for="Url"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn text-white" style="background-color: #2A3F54">Save</button>
        </div>
    </div>
</div>
